<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>q2success.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F2A62D12B4B343100BEDC57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2A62E52B4B343300BEDC57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F2A62EF2B4B343300BEDC57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
